img{
    width: 200px;
}
button{
    margin: 40px;
}

.main{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
}

.text-output{
    display: flex;
    gap: 40px;
}
.score-output{
    display: flex;
    gap:40px
}